/* Specific styles for non-active links */
.link-inactive {
    color: red;
  }
  
  /* Specific styles for active links */
  .link-active {
    color: black;
    background: orange;
  }

  #light .head{
    background-color: white;
  }

  #dark .head{
    background-color: #303030;
  }
